.entry-rule.text-bottom.text-size
  %p
    【記入の仕方】
    %br
    1. 個数はいくらでも構いません。
    %br
    2. 職場で使う言葉で記入してください。
    %br
    3. ご自身の仕事をすべて記入してください。
    %br
    4. 仕事は1つの仕事単位であること。
    %br
    (例)
    %br
    「注文書作成発送」ではなく、
    %br
    「注文書作成」と「注文書発送」に分ける。
    %br
    5. 具体的に記入してください。
    %br
    (例)
    %br
    「やや複雑な施工図が作成する。」ではなく、
    %br
    「丸バイブ構造の施工図が作成する。」